<form [formGroup]="resetPasswordForm">
    <div class="space-y-3">
        <div>
            <label for="">Nueva contraseña</label>
            <p-password
                formControlName="password"
                [feedback]="false"
                [toggleMask]="true"
            />
        </div>
        <div>
            <label for="">Confirmar contraseña</label>
            <p-password
                formControlName="password_confirmation"
                [feedback]="false"
                [toggleMask]="true"
            />
        </div>
    </div>

    <div class="flex gap-2 mb-4">
        <p-button
            label="Copiar"
            severity="contrast"
            (click)="copyPassword()"
            icon="pi pi-clipboard"
            class="flex-1 p-w-full-button"
            [disabled]="!resetPasswordForm.get('password')?.value"
        />
        <p-button
            label="Generar"
            severity="secondary"
            (click)="generatePassword()"
            icon="pi-pi-check"
            class="flex-1 p-w-full-button"
        />
    </div>

    <p-button
        (click)="changePassword()"
        label="Confirmar"
        severity="success"
        icon="pi-pi-check"
        class="flex-1 p-w-full-button"
    />
</form>
