<div class="space-y-5">
    <div>
        <h3 class="text-xl font-semibold ">Bienvenido de nuevo</h3>
        <p class="text-sm text-gray-500">Conoce el resumen de actividades y resultados</p>
    </div>

    <!-- Grid -->
    <p-fieldset legend="Reporte de crecimiento anual">
        <div class="grid grid-cols-3 gap-5">
            <div class="flex justify-between items-center p-4 w-full border-r-2 pr-16">
                <div>
                    <h2 class="font-medium mb-3">Declaraciones</h2>

                    <div class="flex gap-5">
                        <div>
                            <h5 class="text-sm text-gray-500">Año anterior</h5>
                            <h2 class="text-xl font-medium">{{ statements.previous_year }}</h2>
                        </div>
                        <div>
                            <h5 class="text-sm text-gray-500">Año actual</h5>
                            <h2 class="text-xl font-medium">{{ statements.current_year }}</h2>
                        </div>
                    </div>
                </div>

                @if (statements.growth_percent > 0) {
                    <div class="space-x-1 flex items-center">
                        <i class="pi pi-arrow-up-right text-5xl text-green-500"></i>
                        <span class="text-green-500 text-4xl">{{ statements.growth_percent | number: '1.0-0' }}%</span>
                    </div>
                } @else {
                    <div class="space-x-1 flex items-center">
                        <i class="pi pi-arrow-down-right text-5xl text-red-500"></i>
                        <span class="text-red-500 text-4xl">{{ statements.growth_percent | number: '1.0-0' }}%</span>
                    </div>
                }

            </div>
            <div class="flex justify-between items-center p-4 w-full border-r-2 pr-16">
                <div>
                    <h2 class="font-medium mb-3">Contribuyentes</h2>

                    <div class="flex gap-5">
                        <div>
                            <h5 class="text-sm text-gray-500">Año anterior</h5>
                            <h2 class="text-xl font-medium">{{ taxpayers.previous_year }}</h2>
                        </div>
                        <div>
                            <h5 class="text-sm text-gray-500">Año actual</h5>
                            <h2 class="text-xl font-medium">{{ taxpayers.current_year }}</h2>
                        </div>
                    </div>
                </div>

                @if (taxpayers.growth_percent > 0) {
                    <div class="space-x-1 flex items-center">
                        <i class="pi pi-arrow-up-right text-5xl text-green-500"></i>
                        <span class="text-green-500 text-4xl">{{ taxpayers.growth_percent | number: '1.0-0' }}%</span>
                    </div>
                } @else {
                    <div class="space-x-1 flex items-center">
                        <i class="pi pi-arrow-down-right text-5xl text-red-500"></i>
                        <span class="text-red-500 text-4xl">{{ taxpayers.growth_percent | number: '1.0-0' }}%</span>
                    </div>
                }

            </div>
            <div class="flex justify-between items-center p-4 w-full pr-16">
                <div class="">
                    <h2 class="font-medium mb-3">Empresas</h2>

                    <div class="flex gap-5">
                        <div>
                            <h5 class="text-sm text-gray-500">Año anterior</h5>
                            <h2 class="text-xl font-medium">{{ companies.previous_year }}</h2>
                        </div>
                        <div>
                            <h5 class="text-sm text-gray-500">Año actual</h5>
                            <h2 class="text-xl font-medium">{{ companies.current_year }}</h2>
                        </div>
                    </div>
                </div>

                @if (companies.growth_percent > 0) {
                    <div class="space-x-1 flex items-center">
                        <i class="pi pi-arrow-up-right text-5xl text-green-500"></i>
                        <span class="text-green-500 text-4xl">{{ companies.growth_percent | number: '1.0-0' }}%</span>
                    </div>
                } @else {
                    <div class="space-x-1 flex items-center">
                        <i class="pi pi-arrow-down-right text-5xl text-red-500"></i>
                        <span class="text-red-500 text-4xl">{{ companies.growth_percent | number: '1.0-0' }}%</span>
                    </div>
                }

            </div>
        </div>
    </p-fieldset>


    <div class="grid grid-cols-4 gap-6">
        <div class="flex flex-col space-y-10 p-5 bg-white border border-gray-200 shadow-2xs rounded-xl">
            @if (currentMonthStatements) {
                <div>
                    <h3 class="text-xl font-semibold ">Declaraciones mensuales</h3>
                    <p class="text-sm text-gray-500">Correspondientes
                        a {{ currentMonthStatements.date | date:'MMMM y' }}</p>
                </div>
                <app-total-monthly-declarations-chart
                    [totalMonthlyDeclarationsData]="currentMonthStatements"></app-total-monthly-declarations-chart>
            } @else {
                <div class="space-y-2">
                    <div>
                        <p-skeleton width="15rem" borderRadius="16px"/>
                    </div>
                    <div>
                        <p-skeleton width="8rem" borderRadius="16px"/>
                    </div>

                </div>

                <div class="mx-auto block">
                    <p-skeleton shape="circle" size="18rem"/>
                </div>
            }


        </div>


        <div class="flex flex-col space-y-10 p-5 bg-white border border-gray-200 shadow-2xs rounded-xl">
            @if (acceptedStatements) {
                <div>
                    <h3 class="text-xl font-semibold ">Declaraciones acceptadas</h3>
                    <p class="text-sm text-gray-500">Correspondientes
                        a {{ acceptedStatements.date | date:'MMMM y' }}</p>
                </div>
                <app-total-drafts-declarations-chart
                    [totalAcceptedDeclarationsData]="acceptedStatements"></app-total-drafts-declarations-chart>

            } @else {
                <div class="space-y-2">
                    <div>
                        <p-skeleton width="15rem" borderRadius="16px"/>
                    </div>
                    <div>
                        <p-skeleton width="8rem" borderRadius="16px"/>
                    </div>

                </div>

                <div class="mx-auto block">
                    <p-skeleton shape="circle" size="18rem"/>
                </div>
            }


        </div>


        <div class="col-span-2 space-y-6">
            @if (summary) {
                <app-statements-summary-cards [summaryData]="summary"></app-statements-summary-cards>
            } @else {
                <div class="grid grid-cols-2 gap-6">
                    <p-skeleton width="100%" height="92px" />
                    <p-skeleton width="100%" height="92px" />
                    <p-skeleton width="100%" height="92px" />
                    <p-skeleton width="100%" height="92px" />
                </div>
            }

            @if (globalStatements) {
                <app-statements-summary-by-status
                    [globalStatementsData]="globalStatements"></app-statements-summary-by-status>
            }
        </div>

    </div>

    <!--<div class="p-5 border rounded-xl text-sm mt-6">
        <div>
            <h3 class="text-xl font-semibold ">Solicitudes de registros</h3>
            <p class="text-sm text-gray-500">Empresas con solicitud pendiente de registro</p>
        </div>
        @if (registrationRequest) {
            <p-table [value]="registrationRequest" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template #header>
                    <tr>
                        <th>Licencia de Funcionamiento</th>
                        <th>Establecimiento</th>
                        <th>Nombre</th>
                        <th>Correo electrónico</th>
                    </tr>
                </ng-template>
                <ng-template #body let-request>
                    <tr>
                        <td>{{ request.licencia_funcionamiento }}</td>
                        <td>{{ request.nombre_establecimiento }}</td>
                        <td>{{ request.representante }}</td>
                        <td>{{ request.email }}</td>
                    </tr>
                </ng-template>
            </p-table>
        } @else {
            <app-table-skeleton></app-table-skeleton>
        }

    </div>-->
</div>

