<div class="space-y-5">
    <div>
        <h3 class="text-xl font-semibold ">Bienvenido de nuevo Omar Gonzalez</h3>
        <p class="text-sm text-gray-500">Conoce el resumen de actividades y resultados</p>
    </div>

    <!-- Grid -->
    <div class="grid grid-cols-4 gap-6">
        @if (currentMonthStatements) {
            <div class="flex flex-col space-y-10 p-5 bg-white border border-gray-200 shadow-2xs rounded-xl">
                <div>
                    <h3 class="text-xl font-semibold ">Declaraciones mensuales</h3>
                    <p class="text-sm text-gray-500">Correspondientes a {{ currentMonthStatements.date | date:'MMMM y' }}</p>
                </div>

                <app-total-monthly-declarations-chart
                    [totalMonthlyDeclarationsData]="currentMonthStatements"></app-total-monthly-declarations-chart>
            </div>
        }
        <div class="flex flex-col space-y-10 p-5 bg-white border border-gray-200 shadow-2xs rounded-xl">
            <div>
                <h3 class="text-xl font-semibold ">Declaraciones en borrador</h3>
                <p class="text-sm text-gray-500">Relacion anual de declaraciones en borrador</p>
            </div>
            <app-total-drafts-declarations-chart></app-total-drafts-declarations-chart>
        </div>


        <div class="col-span-2 space-y-6">
            <app-statements-summary-cards></app-statements-summary-cards>
            <app-statements-summary-by-status></app-statements-summary-by-status>
        </div>

    </div>

    <div class="p-5 border rounded-xl text-sm mt-6">
        <div>
            <h3 class="text-xl font-semibold ">Solicitudes de registros</h3>
            <p class="text-sm text-gray-500">Empresas con solicitud pendiente de registro</p>
        </div>
        <p-table [value]="registrationRequest" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th>Licencia de Funcionamiento</th>
                    <th>Establecimiento</th>
                    <th>Nombre</th>
                    <th>Correo electrónico</th>
                </tr>
            </ng-template>
            <ng-template #body let-request>
                <tr>
                    <td>{{ request.codigo }}</td>
                    <td>{{ request.nombre_establecimiento }}</td>
                    <td>{{ request.nombre_contacto }}</td>
                    <td>{{ request.email }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

